<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Main Page</title>
</head>
<body>

<div class="container-fluid">

    <!--NAVBAR-->
    <!--<div class="form-group">-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a href="#" class="navbar-brand"><b id="navbar-email"></b> with roles:
                <div id="navbar-roles" class="d-inline"></div></a>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--</div>-->
    <!--NAVBAR ENDS-->

    <div class="row">
        <div class="col-2" id="navTab">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link d-none" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link d-none" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">

                        <h1>Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                                   role="tab" aria-controls="nav-users" aria-selected="true">Users table</a>
                                <a class="nav-item nav-link" id="nav-new-user-tab" data-toggle="tab" href="#nav-new-user"
                                   role="tab" aria-controls="nav-new-user" aria-selected="false">New User</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                                 aria-labelledby="nav-users-tab">
                                <table id="listOfUsers" class="table table-striped">
                                    <h5 class="card-header"><b>All users</b></h5>
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users">

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab">

                                <div class="card-header"><h5><b>Add new user</b></h5></div>

                                <form id="add" action="/admin/add" method="post" class="text-center"
                                      style="width: 300px; margin: auto">
                                    <div class="form-group">
                                        <label for="add-first-name"><b>First name</b></label>
                                        <input type="text" class="form-control" name="firstName" id="add-first-name"
                                               placeholder="First Name"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="add-last-name"><b>Last name</b></label>
                                        <input type="text" class="form-control" name="lastName" id="add-last-name"
                                               placeholder="Last Name">
                                    </div>

                                    <div class="form-group">
                                        <label for="add-age"><b>Age</b></label>
                                        <input type="number" class="form-control" name="age" id="add-age" placeholder="Age">
                                    </div>

                                    <div class="form-group">
                                        <label for="add-email"><b>Email</b></label>
                                        <input type="text" class="form-control" name="email" id="add-email"
                                               placeholder="Email">
                                    </div>

                                    <div class="form-group">
                                        <label for="add-password"><b>Password</b></label>
                                        <input type="text" class="form-control" name="password" id="add-password"
                                               placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <label for="add-roles"><b>Role</b></label>
                                        <select multiple class="custom-select" name="roles" id="add-roles" size="2">
                                            <option value="ADMIN">ADMIN</option>
                                            <option value="USER">USER</option>
                                        </select>
                                    </div>

                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-success" id="save">Add new user
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>

                </div>
                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                    <h1>User information-page</h1>
                    <table class="table table-striped">
                        <div class="card-header"><h5><b>About user</b></h5></div>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="logged">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <!--!&#45;&#45;https://getbootstrap.com/docs/4.0/components/navs/&ndash;&gt;
    <script>
        $(function () {
                $('#navTab li:last-child a').tab('show')
        })
    </script>-->

</div>

<!--EDIT MODAL-->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-user">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/admin/edit" method="post" id="edit-form" class="text-center"
                      style="width: 300px; margin: auto">
                    <div class="form-group">
                        <label for="edit-id"><b>ID</b></label>
                        <input type="text" id="edit-id" name="id" class="form-control" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-first-name"><b>First name</b></label>
                        <input type="text" id="edit-first-name" name="firstName" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-last-name"><b>Last name</b></label>
                        <input type="text" id="edit-last-name" name="lastName" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-age"><b>Age</b></label>
                        <input type="number" id="edit-age" name="age" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-email"><b>Email</b></label>
                        <input type="text" id="edit-email" name="email" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-password"><b>Password</b></label>
                        <input type="text" id="edit-password" name="password" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="edit-roles"><b>Role</b></label>
                        <select multiple class="custom-select" name="roles" id="edit-roles" size="2">

                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="edit">Edit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-user">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/admin/delete" method="post" id="delete-form" class="text-center"
                      style="width: 300px; margin: auto">
                    <div class="form-group">
                        <label for="delete-id"><b>ID</b></label>
                        <input type="text" id="delete-id" name="id" class="form-control" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="delete-first-name"><b>First name</b></label>
                        <input type="text" id="delete-first-name" name="firstName" class="form-control"
                               readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="delete-last-name"><b>Last name</b></label>
                        <input type="text" id="delete-last-name" name="lastName" class="form-control"
                               readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="delete-age"><b>Age</b></label>
                        <input type="number" id="delete-age" name="age" class="form-control" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="delete-email"><b>Email</b></label>
                        <input type="text" id="delete-email" name="email" class="form-control" readonly="readonly"/>
                    </div>

                    <div class="form-group">
                        <label for="delete-roles"><b>Role</b></label>
                        <select multiple class="custom-select" name="roles" id="delete-roles" size="2">

                        </select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" id="delete">Delete</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="/js/common.js"></script>
</body>
</html>